{% extends 'base.html' %} {% block title %} Home {% endblock title%}
{% block topleft %}
<h4>Hello, {{ user.username|title }}</h4>
{% endblock topleft %} {% block topright %}{% endblock topright %} {% block center %}
{% if exercises %}All Exercises
{% else %}You have no Exercises
{% endif %}
{% endblock center %} {%block content %}
{% if exercises %}
{% for e in exercises %}
<div class="container p-2">
	<div class="card workout_card">
		<div class="card-body">
			<div class="row justify-content-between">

				<div class="col-auto">
					<h5 class="card-title">Exercise: {{e.exercise_name}}</h5>
				</div>
				<div class="col-auto">
					<a href="{% url 'exercise_details' e.pk %}" class="btn btn-primary btn-sm">View Details</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endfor %} {% else %}
{% endif %} {% endblock content%}