{% extends 'base.html' %} {% block title %} Exercise Details
{% endblock title %}

{% block topleft %}<a href="{% url 'workout_details' workout.workout_id %}" class="btn btn-primary btn">Back</a>{%
endblock topleft %}
{% block topright %}<a href="{% url 'add_exercise' workout.workout_id %}" class="btn btn-primary btn">Add Another
	Exercise</a>{% endblock topright %}
{% block center %}Exercise: {{exercise.exercise_name}}{% endblock center %}

{% block content %}
{% if sets %}
<div class="container">
	<table class="table center-table" style="text-align: center">
		<thead>
			<tr>
				<th scope="col">Set #</th>
				<th scope="col">Reps x Weight</th>
				<th>Test</th>
			</tr>
		</thead>
		<tbody>
			{% for s in sets %}
			<tr>
				<th scope="row">{{s.set}}</th>
				<td>{{s.weight}} x {{s.reps}}</td>
				<td>
					<a href="{% url 'delete_set' s.set_id %}" class="btn btn-danger btn-sm">Remove</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<h4 style="text-align: center">You have no sets</h4>
{% endif %}
<div class="d-flex justify-content-center">
	<a href="{% url 'add_set' exercise.exercise_id %}" class="btn btn-primary btn btn-sm">Add Set</a>
</div>
{% endblock content %}