{% extends 'base.html' %}
{% block title %} Dashboard {% endblock title%}
{% block topleft %}
<h4>Hello, {{ user.username|title }}</h4>
{% endblock topleft %}
{% block topright %}
<a href="{% url 'workout_home' %}" class="btn btn-primary btn">My Workouts</a>
{% endblock topright %}
{% block content %}
<div class="row text-center g-2">
    <div class="col border ">
        <h3>Recent Workouts</h3>
        {% if recent_workouts %}
        {% for workout in recent_workouts %}
        <div class="card h-100">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title">{{ workout.workout_name }}</h5>
                    <p class="card-text">{{ workout.date }}</p>
                </div>
                <a href="{% url 'workout_details' workout.workout_id %}" class="btn btn-primary btn-sm">View
                    Details</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No recent workouts found.</p>
        {% endif %}
    </div>

    <div class="col border">
        <h3>Calories Section</h3>
    </div>
</div>

{% endblock content %}