{% extends 'fitness_app/base.html' %} {% block title %} Home {% endblock title%}
{% block topleft %}
<h4>Hello, {{ user.username|title }}</h4>
{% endblock topleft %} {% block topright %}<a
  href="{% url 'add_workout' %}"
  class="btn btn-primary btn"
  >Add Workout</a
>{% endblock topright %} {% block center %} {% if workouts %}My Workouts
{% else %}You have no workouts
{% endif %}{% endblock center %} {%block content %} 
{%if workouts%} {% for w in workouts %}
<div class="container p-2">
  <div class="card workout_card">
    <h5 class="card-header">{{w.date}}</h5>
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-auto">
          <h5 class="card-title">Workout: {{w.workout_name}}</h5>
          <p>Total Exercises: {{w.exercise_count}}</p>
          <p>Total Sets: {{w.total_set_count}}</p>
          <p>Total Volume: {{w.total_volume}}</p>
        </div>
        <div class="col-lg"></div>
        <div class="col-auto">
          <a
            href="{% url 'workout_details' w.workout_id %}"
            class="btn btn-primary btn-sm"
            >Edit Workout</a
          >
        </div>
        <div class="col-auto justify-content-end">
          <a
            href="{% url 'delete_workout' w.workout_id %}"
            class="btn btn-danger btn-sm"
            >Remove</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% else %}
{% endif %} {% endblock content%}

<script>
  // Function to remove messages after 5 seconds
  function removeMessages() {
    setTimeout(function () {
      // Get all message elements
      var messages = document.querySelectorAll(".alert-warning");

      // Remove each message element
      messages.forEach(function (message) {
        message.remove();
      });
    }, 5000); // 5000 milliseconds = 5 seconds
  }

  // Call the removeMessages function when the page is loaded
  window.onload = removeMessages;
</script>
