{% extends 'fitness_app/base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="mb-3">
                <input type="text" class="from-control" name="username" placeholder="User Name" required />
            </div>
            <div class="mb-3">
                <input type="password" class="from-control" name="password" placeholder="Password" required />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{% url 'account' %}"  class="btn btn-secondary btn-sm">Create Account</a>
        </form>
        
    </div>
</div>
{% endblock content %}